<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender for tests -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- WAL loggers - more verbose for tests -->
    <logger name="com.github.lukaszbudnik.wal" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logger -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
